.logo-img {
    width: 25%;
    margin-left: 60px;
}

.logo-brand {
    color: white;
    font-size: larger;
}

.buy-tickets {
    color: green!important;
}

.p-oradores {
    margin: 10px;
    margin-bottom: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
}

.h-oradores {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.card-body {
    font-size: small;
    padding: 1.25rem!important;
}

.info-bsas {
    margin-top: 20px;
}

.button-enviar {
    background-color: #96C93E!important;
}

.foot-nav {
    background-image: linear-gradient(to right, #1C3643, #1D5271);
}

.foot-nav-link {
    color: white!important;
    margin: 5px 20px!important;
    text-align: center!important;
}

.info-conf-bsas {
    color: white;
    font-size: larger;
}

.title-conf-bsas {
    color: white!important;
    text-align: right;
    font-size: xx-large;
}

.filtro {
    filter: brightness(0.5);
}

.shadow-border {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#divTotal {
    display: none;
}

@media (min-width :768px) {
    .card-resp {
        flex: 0 0 25%;
        max-width: 25%!important;
    }
}

@media (max-width :768px) {
    .div-form-control {
        width: 90%!important;
    }
    .info-conf-bsas {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}

@media (max-width: 576px) {
    .info-conf-bsas {
        font-size: small;
        text-align: justify !important;
    }
    .space-conf-bsas {
        display: none;
    }
    .title-conf-bsas {
        display: none;
    }
    .logo-img {
        width: 42%;
        margin-left: 0px;
    }
}